# binary file
pm-kyc-service*

# beego file
lastupdate.tmp

# auto generated documentation folder
swagger/swagger.json
swagger/swagger.yml

# command based generated router endpoints
routers/commentsRouter*

# dependencies
vendor
